@page "{handler?}/{count:int?}"
@model RazorPages25P3A.Pages.Index.IndexModel
@{
    ViewData["Title"] = "Index v Indexu";
    string x = "Hello";
}

<h1>Tady je zanořený @x</h1>

<div>
    <p>@Model.Clicker.Message: má celkem @Model.Clicker.Clicks kliků.</p>
</div>
<div>
    <ul>
        <li><a asp-page="Index" asp-page-handler="Better">Zlepši klikač</a></li>
        <li><a asp-page="Index" asp-page-handler="Best">Vylepši klikač</a></li>
        <li><a asp-page="Index" asp-page-handler="Best" asp-route-count="@(Model.Clicker.Clicks + 1)">Nejvylepši klikač 100</a></li>
        
</ul>
    
</div>